/target
temp
named.conf
/bindizr.conf.toml
*.log
*.pid
*.tar.gz
/bindizr.db
/debian

/packaging/debian/*
!/packaging/debian/README.md
!/packaging/debian/changelog
!/packaging/debian/control
!/packaging/debian/copyright
!/packaging/debian/rules
