options {
    directory "/var/cache/bind";
    listen-on port 53 { any; };
    listen-on-v6 port 53 { any; };
    recursion no;
    allow-query { any; };
    dnssec-validation auto;

    ixfr-from-differences yes;
    catalog-zones {
        zone "catalog.bind" default-primaries { __BINDIZR_PRIMARY__ port 53; };
    };
};

zone "catalog.bind" {
    type secondary;
    primaries { __BINDIZR_PRIMARY__ port 53; };
    file "/var/cache/bind/catalog.bind.zone";
    ixfr-from-differences yes;
};
